<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="<%= @question.gravatar %>"/>
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><%= @question.email %> asked:</h4>
				<%= @question.body %>
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-aswer-modal" >Submit new answer</button>
		</div>
	</div>

	<%= render "home/new_answer_form" %>
	<br>
	<% @answers.each do |a| %>
	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="<%= a.gravatar %>"/>
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= a.email %> answered:</h4>
			<div><%= time_ago_in_words a.created_at %> ago</div>
			<%= a.body %>
		</div>
	</div>
	<br/>
	<% end %>

	<% if @answers.empty? %>
	<div class="alert alert-info">No answers yet</div>
	<% end %>

</div>